body {
  margin: 0;
  background-color: #222;
  color: #ddd;
}

.chat-container {
  display: flex;
  flex-direction: row;
}

.video-container {
  flex: 2;
  padding: 20px;
  background-color: #333;
}

.video-box {
  display: flex;
  gap: 50px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.video-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.video-player {
  border-radius: 20px;
  border: 2px solid black;
  width: 300px !important;
  height: 300px !important;
}

.chat-box {
  flex: 1;
  padding: 35px;
  background-color: #333;
  overflow-y: auto;
  border: 2px solid black;
  border-radius: 10px;
}

.chat-box h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.chat-box ul {
  list-style-type: none;
  padding: 0;
}

.chat-box input[type="text"],
.chat-box button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* .chat-box input[type="text"]:focus,
.chat-box butt{
  
} */

@media screen and (max-width: 480px) {
  .chat-container {
    display: flex;
    flex-direction: column;
    bottom: 10px;
  }

  .video-container {
    flex: 1;
    padding: 35px;
    /* background-color: #333;  */
    border-radius: 20px;
    position: absolute;
    width: 290px;
    height: 370px;
    top: 5px;
  }

  .chat-box {
    flex: 1;
    padding: 35px;
    /* background-color: #333; */
    overflow-y: auto;
    border-radius: 20px;
    position: absolute;
    bottom: 5px;
    width: 290px;
    height: 110px;
  }

  .video-box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 10px;
    justify-content: center;
    align-items: center;
  }
}
