body {
  margin: 0;
}

.home-div {
  margin: 0;
  background-color: #222;
  color: #ddd;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-div h1 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.home-div form {
  display: flex;
  flex-direction: column;
}

.home-div label {
  margin-bottom: 10px;
}

.home-div input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #444;
  border-radius: 3px;
  background-color: #333;
  color: #ddd;
  font-size: 16px;
  width: 30vw;
}

.home-div button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.home-div button:hover {
  background-color: #0056b3;
}

.home-div button {
  background-color: #555;
  color: #ddd;
}

.home-div button:hover {
  background-color: #777;
}

@media screen and (max-width: 480px) {
  .home-div input {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #444;
    border-radius: 3px;
    color: #ddd;
    font-size: 16px;
    width: 70vw;
  }
  .home-div h1 {
    font-size: 60px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
  }
}
